Repository JoeyTadisa/Excursion-Management, pull requests merged in 2021-12, with the labels that each got.

#60 Issue-49: data_added automatically generated when excursion is created
  project/api/thu-excursion/src/main/java/com/thuexcursion/crud/model/Excursion.java
  project/database/bdbarmr9bpoyjedn4yyi v5.6 date_added.sql
Labels: api

#77 SharedPreference to remember user
  project/THUExcursionApp/app/src/main/java/com/teamfive/thuexcursionapp/LoginActivity.java
Labels: enhancement, android

#79 Android: Remember User + Booking - preliminary
  project/THUExcursionApp/app/src/main/java/com/teamfive/thuexcursionapp/ExcursionDetails.java
  project/THUExcursionApp/app/src/main/java/com/teamfive/thuexcursionapp/ExcursionEntry.java
  project/THUExcursionApp/app/src/main/java/com/teamfive/thuexcursionapp/ExcursionList.java
  project/THUExcursionApp/app/src/main/java/com/teamfive/thuexcursionapp/LoginActivity.java
  project/THUExcursionApp/app/src/main/res/drawable-v24/logo.png
  project/THUExcursionApp/app/src/main/res/layout/excursion_details.xml
  project/THUExcursionApp/app/src/main/res/layout/excursion_list.xml
  project/THUExcursionApp/app/src/main/res/layout/login.xml
Labels: android

#82 Login related changes
  project/web/frontend/src/App.css
  project/web/frontend/src/components/Excursions/ExcursionForm.js
  project/web/frontend/src/components/Excursions/ExcursionItem.js
  project/web/frontend/src/components/stores/UserStore.js
  project/web/frontend/src/lib/api.js
  project/web/frontend/src/pages/ExcursionDetailedItem.js
  project/web/frontend/src/pages/ExcursionFormPopulated.js
  project/web/frontend/src/pages/LoggedInView.js
  project/web/frontend/src/pages/Login.js
  project/web/frontend/src/pages/LoginForm.js
Labels: enhancement, web

#84 Spinner to filter by year
  project/THUExcursionApp/app/src/main/java/com/teamfive/thuexcursionapp/ExcursionList.java
  project/THUExcursionApp/app/src/main/res/layout/excursion_list.xml
  project/THUExcursionApp/app/src/main/res/values/spinnerarray.xml
Labels: android

#86 changed logo & added clean up functions
  project/web/frontend/public/index.html
  project/web/frontend/src/components/Excursions/ExcursionForm.js
  project/web/frontend/src/components/Excursions/ExcursionList.js
  project/web/frontend/src/pages/LoggedInView.js
Labels: enhancement, web
